@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-sm-6">
        This is column 1. Basic info here....
    </div>
    <div class="col-md-3 col-sm-6">
        This is column 2. More information on the games.
    </div>
    <div class="col-md-3 col-sm-6">
        This is column 3. Upcoming features.
    </div>
</div>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-success">Success</button>

<a class="btn-secondary" href="www.google.com">Google It</a>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
