@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to The Game Radius</h1>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Just a placeholder">
            <div class="card-body">
                <h5 class="card-title">Game Catalog</h5>
                <p class="card-text">
                    Our selection games range from old school Original Nintendo Games to newer gen console games for everyones gaming needs! 
                </p>
                <a href="#" class="btn btn-primary">Catalog</a>
            </div>
        </div>
    </div>
    <div class="offset-md-1 offset-sm-1 col-md-5 col-sm-5">
        We are dedicated to buying and selling new and used games of all genres.
        <br /><br />
        <div class="alert alert-danger" role="alert">
            Site currently down for maintenence!
        </div>
        *We have new and used games!
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Roadmap for the Radius
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Allow user to browse game catalog</li>
                <li class="list-group-item">Add items to cart</li>
                <li class="list-group-item">Create an account</li>
                <li class="list-group-item">Get more games...</li>
            </ul>
        </div>
    </div>
</div>
